@charset "UTF-8";
/*Ширина экрана на разных девайсах*/
/*Переменные цветов проекта*/
/*Подключение шрифтов*/
@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-weight: 300;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

/* Плавная прокрутка для всей страницы */
  html {
    scroll-behavior: smooth;
}

/* Бургер-меню */
.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: fixed; /* Фиксируем бургер в верхнем левом углу */
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
    z-index: 1001; /* Убедимся, что бургер поверх других элементов */
    cursor: pointer;
    display: block;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #fff; /* Белый цвет по умолчанию */
    transition: background 0.3s ease; /* Плавное изменение цвета */
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff; /* Вторая линия бургера */
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s, background 0.3s ease;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s, background 0.3s ease;
}

/* Эффект hover */
.burger:hover::before,
.burger:hover::after {
    background: #f58c14; /* Оранжевый цвет при наведении */
}

.burger:hover::before {
    box-shadow: 0 11px 0 #f58c14; /* Вторая линия тоже меняет цвет */
}

/* Анимация при открытии меню */
.burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

/* Меню */
.menu-list {
    top: 0;
    left: 0;
    position: fixed; /* Фиксируем меню */
    z-index: 1000; /* Убедимся, что меню поверх других элементов */
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 200px;
    height: 70vh; /* Меню на всю высоту экрана */
    border: 2px solid rgb(84, 155, 255);
    border-radius: 8px;
    background-color: rgba(135, 185, 216, 0.9);
}

.menu-list a:hover {
    color: #f58c14;
}

.menu-item {
    display: block;
    padding: 8px;
    color: #f8f9fa;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    background: rgba(255,255,255,.2);
}

.burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
}

/*Скрываем горизонтальную прокрутку*/
.overflow-hidden {
    overflow-x: hidden;
}

/*Визуальное скрытие заголовков*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

/* Стили для кнопки "Наверх" */
#scrollToTop {
    display: none; /* Скрываем кнопку по умолчанию */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#scrollToTop:hover {
    background-color: #0056b3;
}

 /* Стили для кнопки перехода на английскую версию */
 .language-switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.language-switcher img {
    width: 30px;  /* Делаем ширину и высоту одинаковыми */
    height: 26px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 50%; /* Делаем кнопку круглой */
    object-fit: cover; /* Обеспечивает корректное отображение изображения */
}

/* Тело сайта */
body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color:#050505;
    line-height: 1.5;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    background-image: url("../img/langkawi1_blurred.webp");
    background-size: cover; /*Изображение заполняет весь фон */
    background-attachment: fixed; /* Фон фиксируется при прокрутке */
    background-repeat: no-repeat; /* Фон не повторяется */
    background-color: #f0f0f0; /* Резервный цвет */
}
 
header {
    background: rgba(135, 185, 216, 0.4); 
    color: #ffffff;
    text-align: center;
    position: sticky;
    /*position: fixed; /* Фиксируем заголовок */
    top: 0; /* Прикрепляем к верхней части окна */
    left: 0; /* Выравниваем по левому краю */
    right: 0; /* Выравниваем по правому краю */
    width: 840px; /* Занимаем всю ширину экрана */
    max-width: 100%; /* Убираем ограничение по ширине */
    padding: 5px 0;
    margin: 0 auto;
    z-index: 1000; /* Обеспечиваем, что заголовок будет перед другими элементами */
    border-radius: 8px; /* Убираем скругление углов, чтобы заголовок был на всю ширину */
}

/*Должность в шапке*/
.position {
    font-size: 26px;
    font-weight: bolder;
    line-height: 0;
    font-family: 'Lucida Calligraphy';
}

.position:hover,
.position:focus,
.position:active {
    color: #f58c14;
}

h1 {
    box-sizing: content-box;
    display: block;
    float: none;
    line-height: 24px;
    position: static;
    z-index: auto;
}

h1:hover,
h1:focus,
h1:active {
    color: #f58c14;
}

h2 {
    color: #35424a;
    text-align: center
}

h2:hover,
h2:focus,
h2:active {
    color: #f58c14;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a {
    color: #35424a;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

.about-me {
    margin-top: 10px; /* Отступ сверху, чтобы избежать наложения на навигацию и заголовок */
}

section {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавное изменение */
    transform-origin: center; /* Точка трансформации в центре */
    padding: 20px;
    margin: 25px auto;
    background: rgba(255, 255, 255, 0.7); /* Полупрозрачный фон для секций */
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

section:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.crimea,
.vietnam,
.kuzstu,
.html-academy1,
.html-academy2,
.arabic {
    text-decoration: underline;
    color: #050505;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.crimea:hover,
.vietnam:hover,
.kuzstu:hover,
.html-academy1:hover,
.html-academy2:hover,
.arabic:hover,
.welcome:hover,
.e-mail:hover {
    color: #f58c14;
    font-weight: bold;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.kuzgtu {
    display: flex; 
    align-items: center; 
    list-style: none; 
    padding: 0 10px;
    gap: 10px; /* Отступ между элементами */
}

.kuzgtu1 {
    margin-right: 10px;
    
}

strong:hover {
    color: #f58c14; 
}

/* Социальные сети */
.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 20px;
    padding: 0;
    flex-wrap: wrap;
}

.social li {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 46px;
    height: 48px;
    margin-right: 6px;
}

.social li:last-child {
    margin-right: 0;
}

.social div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    margin: 0 auto;
    background-color: rgb(235, 211, 181);
    border-radius: 8px;
}

.social-telegram {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%2366CCFF'%3E%3Cpath d='M17.507 14.307l-.009.075c-2.199-1.096-2.429-1.242-2.713-.816-.197.295-.771.964-.944 1.162-.175.195-.357.21-.661.075-.3-.15-1.263-.465-2.403-1.485-.888-.795-1.484-1.77-1.66-2.07-.174-.3-.019-.463.13-.606.134-.133.3-.345.45-.517.146-.181.195-.3.295-.496.1-.194.05-.361-.025-.507-.075-.145-.672-1.612-.92-2.206-.24-.576-.487-.5-.672-.51-.172-.008-.371-.01-.57-.01-.2 0-.523.074-.796.372-.272.3-1.045 1.02-1.045 2.49 0 1.47 1.07 2.89 1.22 3.093.15.2 2.095 3.2 5.076 4.49.709.306 1.263.489 1.694.625.712.226 1.36.194 1.87.118.571-.085 1.756-.72 2.006-1.415.25-.696.25-1.29.175-1.415-.075-.125-.272-.2-.57-.345z'/%3E%3Cpath d='M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.523 0-10-4.477-10-10S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
}
    
.social-link:hover .social-telegram {
    background-color: #c1eafc;
    border-radius: 8px;
    border: medium solid rgb(75, 125, 200);
}

.social-link:hover .social-whatsapp {
    background-color: #b3f7aa;
    border-radius: 8px;
    border: medium solid rgb(90, 221, 125);
}
    
.social-link:hover .social-viber {
    background-color: #d2c3f7;
    border-radius: 8px;
    border: medium solid rgb(156, 75, 200);
}

.social-link:active .social-telegram {
    background-color: #e9b361;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%2366CCFF'%3E%3Cpath d='M17.507 14.307l-.009.075c-2.199-1.096-2.429-1.242-2.713-.816-.197.295-.771.964-.944 1.162-.175.195-.357.21-.661.075-.3-.15-1.263-.465-2.403-1.485-.888-.795-1.484-1.77-1.66-2.07-.174-.3-.019-.463.13-.606.134-.133.3-.345.45-.517.146-.181.195-.3.295-.496.1-.194.05-.361-.025-.507-.075-.145-.672-1.612-.92-2.206-.24-.576-.487-.5-.672-.51-.172-.008-.371-.01-.57-.01-.2 0-.523.074-.796.372-.272.3-1.045 1.02-1.045 2.49 0 1.47 1.07 2.89 1.22 3.093.15.2 2.095 3.2 5.076 4.49.709.306 1.263.489 1.694.625.712.226 1.36.194 1.87.118.571-.085 1.756-.72 2.006-1.415.25-.696.25-1.29.175-1.415-.075-.125-.272-.2-.57-.345z'/%3E%3Cpath d='M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.523 0-10-4.477-10-10S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
}

.social-whatsapp {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%2325D366'%3E%3Cpath d='M17.507 14.307l-.009.075c-2.199-1.096-2.429-1.242-2.713-.816-.197.295-.771.964-.944 1.162-.175.195-.357.21-.661.075-.3-.15-1.263-.465-2.403-1.485-.888-.795-1.484-1.77-1.66-2.07-.174-.3-.019-.463.13-.606.134-.133.3-.345.45-.517.146-.181.195-.3.295-.496.1-.194.05-.361-.025-.507-.075-.145-.672-1.612-.92-2.206-.24-.576-.487-.5-.672-.51-.172-.008-.371-.01-.57-.01-.2 0-.523.074-.796.372-.272.3-1.045 1.02-1.045 2.49 0 1.47 1.07 2.89 1.22 3.093.15.2 2.095 3.2 5.076 4.49.709.306 1.263.489 1.694.625.712.226 1.36.194 1.87.118.571-.085 1.756-.72 2.006-1.415.25-.696.25-1.29.175-1.415-.075-.125-.272-.2-.57-.345z'/%3E%3Cpath d='M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.523 0-10-4.477-10-10S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
}
        
.social-link:active .social-whatsapp {
    background-color: #e9b361;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%2325D366'%3E%3Cpath d='M17.507 14.307l-.009.075c-2.199-1.096-2.429-1.242-2.713-.816-.197.295-.771.964-.944 1.162-.175.195-.357.21-.661.075-.3-.15-1.263-.465-2.403-1.485-.888-.795-1.484-1.77-1.66-2.07-.174-.3-.019-.463.13-.606.134-.133.3-.345.45-.517.146-.181.195-.3.295-.496.1-.194.05-.361-.025-.507-.075-.145-.672-1.612-.92-2.206-.24-.576-.487-.5-.672-.51-.172-.008-.371-.01-.57-.01-.2 0-.523.074-.796.372-.272.3-1.045 1.02-1.045 2.49 0 1.47 1.07 2.89 1.22 3.093.15.2 2.095 3.2 5.076 4.49.709.306 1.263.489 1.694.625.712.226 1.36.194 1.87.118.571-.085 1.756-.72 2.006-1.415.25-.696.25-1.29.175-1.415-.075-.125-.272-.2-.57-.345z'/%3E%3Cpath d='M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.523 0-10-4.477-10-10S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
}
        
.social-viber {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%237c4dff'%3E%3Cpath d='M17.507 14.307l-.009.075c-2.199-1.096-2.429-1.242-2.713-.816-.197.295-.771.964-.944 1.162-.175.195-.357.21-.661.075-.3-.15-1.263-.465-2.403-1.485-.888-.795-1.484-1.77-1.66-2.07-.174-.3-.019-.463.13-.606.134-.133.3-.345.45-.517.146-.181.195-.3.295-.496.1-.194.05-.361-.025-.507-.075-.145-.672-1.612-.92-2.206-.24-.576-.487-.5-.672-.51-.172-.008-.371-.01-.57-.01-.2 0-.523.074-.796.372-.272.3-1.045 1.02-1.045 2.49 0 1.47 1.07 2.89 1.22 3.093.15.2 2.095 3.2 5.076 4.49.709.306 1.263.489 1.694.625.712.226 1.36.194 1.87.118.571-.085 1.756-.72 2.006-1.415.25-.696.25-1.29.175-1.415-.075-.125-.272-.2-.57-.345z'/%3E%3Cpath d='M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.523 0-10-4.477-10-10S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
}
        
        
.social-link:active .social-viber {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%237c4dff'%3E%3Cpath d='M17.507 14.307l-.009.075c-2.199-1.096-2.429-1.242-2.713-.816-.197.295-.771.964-.944 1.162-.175.195-.357.21-.661.075-.3-.15-1.263-.465-2.403-1.485-.888-.795-1.484-1.77-1.66-2.07-.174-.3-.019-.463.13-.606.134-.133.3-.345.45-.517.146-.181.195-.3.295-.496.1-.194.05-.361-.025-.507-.075-.145-.672-1.612-.92-2.206-.24-.576-.487-.5-.672-.51-.172-.008-.371-.01-.57-.01-.2 0-.523.074-.796.372-.272.3-1.045 1.02-1.045 2.49 0 1.47 1.07 2.89 1.22 3.093.15.2 2.095 3.2 5.076 4.49.709.306 1.263.489 1.694.625.712.226 1.36.194 1.87.118.571-.085 1.756-.72 2.006-1.415.25-.696.25-1.29.175-1.415-.075-.125-.272-.2-.57-.345z'/%3E%3Cpath d='M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.523 0-10-4.477-10-10S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(104, 130, 145, 0.2); /* Прозрачный фон */
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.makeupman {
    text-decoration: none;
    color: #ffffff;
}

.makeupman:hover,
.makeupman:focus,
.makeupman:active {
    color: #f58c14;
}

/* Медиазапросы для мобильных устройств */

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }

    section {
        padding: 15px;
        margin: 15px;
        max-width: 95%; /* Уменьшаем максимальную ширину на мобильных устройствах */
    }

    footer {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em; /* Уменьшаем размер шрифта на мобильных устройствах */
    }

    h2 {
        font-size: 1.2em;
    }

    ul {
        padding-left: 15px;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 15px 0;
    }

    h1 {
        font-size: 1.2em; /* Еще более компактный размер шрифта */
    }

    nav a {
        font-size: 0.9em; /* Уменьшаем размер текста в навигации */
    }

    section {
        margin: 10px;
        padding: 10px;
    }

    footer {
        padding: 10px;
    }
}
